a.nav-link:hover{
    cursor: pointer;
    border-radius: 5px;
    background: #F6393A;
}

a.nav-link {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand:hover{
    cursor: pointer;
    border-radius: 5px;
    background: #F6393A;
}

.grad1 {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }




  @import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
/* The side navigation menu */
.sc-sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 30%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  background-color: #FFF;
  /* White */
  overflow-x: hidden;
  /* Disable horizontal scroll */ }

.sc-sidenav.widget-left {
  left: -30%;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  border-right: 1px solid #C0C0C0; }

.sc-sidenav.widget-right {
  right: -30%;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  border-left: 1px solid #C0C0C0; }

.sc-sidenav.widget-top,
.sc-sidenav.widget-bottom {
  height: 90%;
  width: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out; }

.sc-sidenav.widget-top {
  top: -90%;
  border-bottom: 1px solid #C0C0C0; }

.sc-sidenav.widget-bottom {
  top: 100%;
  border-top: 1px solid #C0C0C0; }

.sc-sidenav.launcher {
  width: 100%; }

.sc-sidenav.sc-open {
  overflow-y: hidden; }

.sc-sidenav.widget-left.sc-open {
  left: 0; }

.sc-sidenav.widget-right.sc-open {
  right: 0; }

.sc-sidenav.widget-top.sc-open {
  top: 0; }

.sc-sidenav.widget-bottom.sc-open {
  top: 10%; }

/* Position and style the close button (top right corner) */
.sc-closebtn {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 30px;
  color: black;
  height: 35px; }

.sc-closebtn:hover {
  color: #2196F3;
  outline: none; }

button#sc-openSidenav {
  padding: 1px 6px !important;
  align-items: flex-start;
  box-sizing: border-box !important; }

button#sc-openSidenav, button:hover#sc-openSidenav, button:active#sc-openSidenav {
  background-color: transparent !important;
  border-color: transparent !important; }

.sc-widget-tab {
  width: auto;
  height: 5em;
  position: fixed;
  z-index: 10001;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  border: none !important; }

.sc-widget-tab.widget-left {
  left: 0;
  top: 40%;
  margin-left: -47px;
  transition-property: left;
  -webkit-transform: translate(-42px, 0) rotate(-90deg);
  -moz-transform: translate(-42px, 0) rotate(-90deg);
  -o-transform: translate(-42px, 0) rotate(-90deg);
  transform: translate(-42px, 0) rotate(-90deg); }

.sc-widget-tab.widget-right {
  right: 0;
  top: 40%;
  margin-right: -47px;
  transition-property: right;
  -webkit-transform: translate(42px, 0) rotate(90deg);
  -moz-transform: translate(42px, 0) rotate(90deg);
  -o-transform: translate(42px, 0) rotate(90deg);
  transform: translate(42px, 0) rotate(90deg); }

.sc-widget-tab.widget-right span {
  border-right: none; }

.sc-widget-tab.widget-top,
.sc-widget-tab.widget-bottom {
  left: 50%;
  transform: translate(-50%, 0%); }

.sc-widget-tab.widget-top {
  top: -14px;
  transition-property: top; }

.sc-widget-tab.widget-bottom {
  bottom: -14px;
  transition-property: bottom; }

.sc-widget-tab.widget-left.sc-open {
  left: 30%; }

.sc-widget-tab.widget-right.sc-open {
  right: 30%; }

.sc-widget-tab.widget-top.sc-open {
  top: 90%;
  margin-top: -10px; }

.sc-widget-tab.widget-bottom.sc-open {
  bottom: 90%;
  margin-bottom: -11px; }

.sc-widget-tab:active,
.sc-widget-tab:focus {
  outline: none; }

.sc-widget-tab span,
.sc-widget-tab.widget-bottom span {
  display: block;
  background: #FFFFFF;
  color: #4A4A4A;
  height: auto;
  max-height: 3em;
  padding: 0.7em 0em 0.7em 0em;
  width: 11.7em;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.4rem;
  z-index: 10002;
  overflow-y: hidden; }

.sc-widget-tab span {
  border-top: none;
  border-right: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  border-left: 1px solid #C0C0C0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.sc-widget-tab.widget-bottom span {
  border-top: 1px solid #C0C0C0;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.sc-widget-tab > span:hover {
  background: #2196F3;
  color: white; }

.sc-widget-tab.sc-open > span:hover {
  background: #FFFFFF;
  color: #AAAAAA; }

#receipt-section[_ngcontent-c1] {
  background: #FFFFFF; }

@media only screen and (max-width: 1534px) {
  .sc-widget-tab.widget-left.sc-open {
    left: 460px; }
  .sc-widget-tab.widget-right.sc-open {
    right: 460px; }
  .sc-sidenav.widget-left {
    left: -460px;
    width: 460px; }
  .sc-sidenav.widget-right {
    right: -460px;
    width: 460px; } }

@media only screen and (max-width: 1024px) {
  .sc-sidenav.widget-top,
  .sc-sidenav.widget-bottom {
    width: 50%; }
  .sc-widget-tab.widget-top span {
    margin-top: -5px; } }

@media only screen and (max-width: 460px) {
  .sc-sidenav,
  .sc-sidenav.sc-open,
  .sc-sidenav.widget-top,
  .sc-sidenav.widget-bottom {
    width: 100% !important;
    height: 100% !important; }
  .sc-sidenav.widget-bottom.sc-open {
    top: 0%; }
  .sc-sidenav.widget-top.sc-open {
    top: 0%; }
  .sc-sidenav.widget-left {
    left: -100%; }
  .sc-sidenav.widget-right {
    right: -100%; }
  .sc-sidenav.widget-top {
    top: -100%; }
  .sc-sidenav.widget-bottom {
    top: 100%; }
  .widget-left.sc-open {
    left: 0; }
  .widget-right.sc-open {
    right: 0; }
  .sc-widget-tab.widget-left.sc-open {
    left: 100%; }
  .sc-widget-tab.widget-right.sc-open {
    right: 100%; }
  .sc-widget-tab.widget-top.sc-open {
    top: 100%;
    margin-top: 0px; }
  .sc-widget-tab.widget-bottom.sc-open {
    bottom: 100%;
    margin-bottom: 0px; }
  .sc-sidenav .sc-closebtn {
    font-size: 26px;
    right: 20px;
    line-height: 1rem; } }

/* IE10 & IE11 CSS styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sc-widget-tab span {
    margin-top: -18px;
    padding-top: 0px; } }





